<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>项目详情</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" href="asserts/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/asserts/css/modern-business.css}" href="css/modern-business.css" rel="stylesheet">
<!--  <link th:href="@{/asserts/css/font-awesome.min.css}" href="css/modern-business.css" rel="stylesheet">-->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style type="text/css">
    *{
      font-family: 微软雅黑;
    }
    .a{
      /*width: 80%;
      border: 2px dashed #666;*/
      margin: 0 auto;
    }
    h2{
      width: 80%;
      margin: 0 auto;
      padding: 20px;
    }
    pre{
      width: 80%;
      margin: 0 auto;
      border: 1px solid #ddd;
      color: #000;
      padding: 10px;
      border-radius: 10px;
      font-size: 15px;
    }
  </style>
</head>

<body>

  <div th:replace="commons/base::topbar"></div>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">可成长系统之
      <small>项目详情</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a th:href="@{/index}" href="index.html">首页</a>
      </li>
      <li class="breadcrumb-item active">项目详情</li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">


      <div class="col-md-5">
        <p class="text-hide" id="pid" th:text="${project.id}" th:attr="url=@{/project/struct},fileUrl=@{/project/file}"></p>
        <h3 class="my-3" th:text="'项目名称：'+${project.name}">Project Description</h3>
        <p th:text="'项目描述：'+${project.description}">que urna variustricies, jus</p>
        <p th:text="'项目类型：'+${project.type.name}">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p style="color: #ff7332" th:if="${project.results==null}" th:text="暂无测试结果">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <div th:if="${project.results!=null}" th:each="result,resultStat:${project.results}">

          <p th:text="'测试结果'+${resultStat.count}+'：[length:'+${result.getLength()}+',points:'+${result.getPoints()}+',time:'+${result.getTime()+'s]'}"></p>
        </div>
        <h3 class="my-3">项目文件</h3>
        <div class="a" id="struct"></div>
      </div>
      <textarea readonly="readonly" class="col-md-7" rows="10" id="fileDetail">

      </textarea>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
<!--    <h3 class="my-4">Related Projects</h3>-->

<!--    <div class="row">-->

<!--      <div class="col-md-3 col-sm-6 mb-4">-->
<!--        <a href="#">-->
<!--          <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--        </a>-->
<!--      </div>-->

<!--      <div class="col-md-3 col-sm-6 mb-4">-->
<!--        <a href="#">-->
<!--          <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--        </a>-->
<!--      </div>-->

<!--      <div class="col-md-3 col-sm-6 mb-4">-->
<!--        <a href="#">-->
<!--          <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--        </a>-->
<!--      </div>-->

<!--      <div class="col-md-3 col-sm-6 mb-4">-->
<!--        <a href="#">-->
<!--          <img class="img-fluid" src="http://placehold.it/500x300" alt="">-->
<!--        </a>-->
<!--      </div>-->

<!--    </div>-->
    <!-- /.row -->

  </div>
  <!-- /.container -->


  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js}"></script>
  <script th:src="@{/asserts/js/LuTree.js}"></script>
  <script type="text/javascript">
    function isNumber(val){

      var regPos = /^\d+(\.\d+)?$/; //非负浮点数
      var regNeg = /^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$/; //负浮点数
      if(regPos.test(val) || regNeg.test(val)){
        return true;
      }else{
        return false;
      }

    }
    //预加载数据格式
    console.log($("#pid").attr("url"))
    console.log($("#pid").text())
    $.ajax({
      url: $("#pid").attr("url"),
      data: {"id":$("#pid").text()},
      type:"GET",
      success:function (result) {
        console.log(result);
        //无限级菜单生成
        $("#struct").LuTree({
          arr: result,
          sign:true,
          simIcon: "fa fa-file-o",//叶子图标
          mouIconOpen: " fa fa-folder-open",//展开图标
          mouIconClose:"fa fa-folder",//关闭图标
          callback: function(id) {
            if(!isNumber(id)){
              $.ajax({
                url: $("#pid").attr("fileUrl"),
                data: {"path":id},
                type:"GET",
                success:function (result) {
                    $("#fileDetail").text(result);
                }
              });
            }
            console.log("你选择的id是" + id);
          }
        });
      }
    });

    </script>
</body>

</html>
