<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="commons/baseAdmin::headSettings"></div>
	<title>后台管理首页</title>
	<!-- FullCalendar -->
	<link rel="stylesheet" th:href="@{/admin/plugin/fullcalendar/fullcalendar.min.css}" href="assets/plugin/fullcalendar/fullcalendar.min.css">
	<link rel="stylesheet" th:href="@{/admin/plugin/fullcalendar/fullcalendar.print.css}" href="assets/plugin/fullcalendar/fullcalendar.print.css" media='print'>
	<div th:replace="commons/baseAdmin::cssImport"></div>
</head>

<body>
<div th:replace="commons/baseAdmin::leftBar"></div>
<div th:replace="commons/baseAdmin::navbar"></div>
<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">

			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title text-info">用户访问</h4>
					<!-- /.box-title -->

					<div class="content widget-stat">
						<div id="traffic-sparkline-chart-1" class="left-content margin-top-15"></div>
						<!-- /#traffic-sparkline-chart-1 -->
						<div class="right-content">
							<h2 class="counter text-info">278</h2>
							<!-- /.counter -->
							<p class="text text-info">今日用户访问</p>
							<!-- /.text -->
						</div>
						<!-- .right-content -->
					</div>
					<!-- /.content widget-stat -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-xs-12 -->

			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title text-success">项目测试</h4>
					<!-- /.box-title -->

					<div class="content widget-stat">
						<div id="traffic-sparkline-chart-2" class="left-content margin-top-10"></div>
						<!-- /#traffic-sparkline-chart-2 -->
						<div class="right-content">
							<h2 class="counter text-success">36%</h2>
							<!-- /.counter -->
							<p class="text text-success">测试成功比例</p>
							<!-- /.text -->
						</div>
						<!-- .right-content -->
					</div>
					<!-- /.content widget-stat -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-xs-12 -->



			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">未使用功能</h4>
					<!-- /.box-title -->

					<div id="bar-morris-chart" class="morris-chart" style="height: 240px"></div>
					<div class="text-center">
						<ul class="list-inline morris-chart-detail-list">
							<li><i class="fa fa-circle"></i>Series A</li>
							<li><i class="fa fa-circle"></i>Series B</li>
							<li><i class="fa fa-circle"></i>Series C</li>
						</ul>
					</div>
					<!-- /#bar-morris-chart.morris-chart -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->

			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">内存监控</h4>
					<!-- /.box-title -->

					<div id="donut-morris-chart" class="morris-chart" style="height: 240px"></div>
					<div class="text-center">
						<ul class="list-inline morris-chart-detail-list">
							<li><i class="fa fa-circle"></i>已使用</li>
							<li><i class="fa fa-circle"></i>可使用</li>
							<li><i class="fa fa-circle"></i>交换区</li>
						</ul>
					</div>
					<!-- /#donut-morris-chart.morris-chart -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->
		</div>
		<!-- /.row -->




		<div th:replace="commons/baseAdmin::footer"></div>
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
<div th:replace="commons/baseAdmin::scriptImport"></div>
<!-- Morris Chart -->
<script th:src="@{/admin/plugin/chart/morris/morris.min.js}" src="assets/plugin/chart/morris/morris.min.js"></script>
<script th:src="@{/admin/plugin/chart/morris/raphael-min.js}" src="assets/plugin/chart/morris/raphael-min.js"></script>
<script th:src="@{/admin/scripts/chart.morris.black.init.min.js}" src="assets/scripts/chart.morris.black.init.min.js"></script>

<!-- Flot Chart -->
<script th:src="@{/admin/plugin/chart/plot/jquery.flot.min.js}" src="assets/plugin/chart/plot/jquery.flot.min.js"></script>
<script th:src="@{/admin/plugin/chart/plot/jquery.flot.tooltip.min.js}" src="assets/plugin/chart/plot/jquery.flot.tooltip.min.js"></script>
<script th:src="@{/admin/plugin/chart/plot/jquery.flot.categories.min.js}" src="assets/plugin/chart/plot/jquery.flot.categories.min.js"></script>
<script th:src="@{/admin/plugin/chart/plot/jquery.flot.pie.min.js}" src="assets/plugin/chart/plot/jquery.flot.pie.min.js"></script>
<script th:src="@{/admin/plugin/chart/plot/jquery.flot.stack.min.js}" src="assets/plugin/chart/plot/jquery.flot.stack.min.js"></script>
<script th:src="@{/admin/scripts/chart.flot.black.init.min.js}" src="assets/scripts/chart.flot.black.init.min.js"></script>

<!-- Sparkline Chart -->
<script th:src="@{/admin/plugin/chart/sparkline/jquery.sparkline.min.js}" src="assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
<script th:src="@{/admin/scripts/chart.sparkline.init.min.js}" src="assets/scripts/chart.sparkline.init.min.js"></script>

<!-- FullCalendar -->
<script th:src="@{/admin/plugin/moment/moment.js}" src="assets/plugin/moment/moment.js"></script>
<script th:src="@{/admin/plugin/fullcalendar/fullcalendar.min.js}" src="assets/plugin/fullcalendar/fullcalendar.min.js"></script>
<script th:src="@{/admin/scripts/fullcalendar.init.js}" src="assets/scripts/fullcalendar.init.js"></script>

<script>
	jQuery(document).ready(function () {
		$("#userHtml").click(function (event) {
			var link = $("#userHtml").attr("link");
			console.log(link);
			$("#wrapper").load(link);
		});
	});
</script>
</body>
</html>