<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>公告详情</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" href="asserts/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/modern-business.css}" href="css/modern-business.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <div th:replace="commons/base::topbar"></div>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">可成长系统之
      <small>公告详情</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a th:href="@{/index}" href="index.html">首页</a>
      </li>
      <li class="breadcrumb-item active">公告详情</li>
    </ol>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">

            <h2 class="card-title" th:text="${announce.title}">Post Title</h2>
            <p class="card-text">发布者:管理员 [[${#dates.format(announce.createTime,'yyyy-MM-dd')}]]</p>
            <div th:utext="${announce.content}"></div>
        </div>
      </div>
    </div>


  </div>
  </div>
  <!-- /.container -->
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js}"></script>
</body>

</html>
