<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>公告详情</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" href="asserts/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/modern-business.css}" href="css/modern-business.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <div th:replace="commons/base::topbar"></div>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">可成长系统之
      <small>公告详情</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a th:href="@{/index}" href="index.html">首页</a>
      </li>
      <li class="breadcrumb-item active">公告详情</li>
    </ol>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">

            <h2 class="card-title" th:text="${announce.title}">Post Title</h2>
            <p class="card-text">发布者:管理员 [[${#dates.format(announce.createTime,'yyyy-MM-dd')}]]</p>
            <div th:utext="${announce.content}"></div>
        </div>
      </div>
    </div>


  </div>
  </div>
  <!-- /.container -->
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js}"></script>
  <!-- paginator -->
  <script type="text/javascript" th:src="@{/js/jq-paginator.js}" src="asserts/js/feather.min.js" ></script>

  <script type="text/javascript">

    var first=true;
    var pages=$("#pages").attr("num");
    var pageSize=$("#pageSize").attr("num");
    var pageNum=$("#pageNum").attr("num");
    var url=$("#pages").attr("url");
    console.log(pages+","+pageSize+","+pageNum);
    $("#project-pagination").jqPaginator({
      totalPages:   parseInt(pages),
      visiblePages: parseInt(pageSize),
      currentPage:  parseInt(pageNum),
      first: '<li class="first"><a href="javascript:void(0);">首页<\/a><\/li>',
      prev: '<li class="prev"><a href="javascript:void(0);">上一页<\/a><\/li>',
      next: '<li class="next"><a href="javascript:void(0);">下一页<\/a><\/li>',
      last: '<li class="last"><a href="javascript:void(0);">末页<\/a><\/li>',
      page: '<li class="page"><a href="javascript:void(0);">{{page}}<\/a><\/li>',
      onPageChange: function(n) {
        $("#pagination-text").html(n);
        if(!first){
          window.location.href=url+"?ps=10&pc="+n;
        }else{
          first=false;
        }
      }
    });
  </script>
</body>

</html>
