<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:fragment="headSettings">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="北航可成长系统">
	<meta name="author" content="Peter Stark">
	</div>


	<title>Home</title>
	<div th:fragment="cssImport">
		<link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}">
	<!-- Main Styles -->
	<link rel="stylesheet" th:href="@{/adminSource/styles/style.min.css}" href="assets/styles/style.min.css">

	<!-- Material Design Icon -->
	<link rel="stylesheet" th:href="@{/adminSource/fonts/material-design/css/materialdesignicons.css}" href="assets/fonts/material-design/css/materialdesignicons.css">

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" th:href="@{/adminSource/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}" href="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" th:href="@{/adminSource/plugin/waves/waves.min.css}" href="assets/plugin/waves/waves.min.css">

	<!-- Sweet Alert -->
	<link rel="stylesheet" th:href="@{/adminSource/plugin/sweet-alert/sweetalert.css}" href="assets/plugin/sweet-alert/sweetalert.css">
	
	<!-- Morris Chart -->
	<link rel="stylesheet" th:href="@{/adminSource/plugin/chart/morris/morris.css}" href="assets/plugin/chart/morris/morris.css">

	<!-- Dark Themes -->
	<link rel="stylesheet" th:href="@{/adminSource/styles/style-black.min.css}" href="assets/styles/style-black.min.css">
	</div>
</head>

<body>
<div class="main-menu" th:fragment="leftBar">
	<header class="header">
		<a th:href="@{/adminSource/index}" href="index.html" class="logo"><i class="ico mdi mdi-cube-outline"></i>后台管理</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
		<div class="user">
			<a href="#" class="avatar"><img th:src="@{/adminSource/images/admin.jpg}" src="assets/images/avatar-sm-5.jpg" alt=""><span class="status online"></span></a>
			<h5 class="name"><a th:href="@{/admin/profile}" th:text="${session.admin.name}" th:if="${session.admin!=null}">用户名</a></h5>
			<h5 class="position">管理员</h5>
			<!-- /.name -->
			<div class="control-wrap js__drop_down">
				<i class="fa fa-caret-down js__drop_down_button"></i>
				<div class="control-list">
					<div class="control-item"><a th:href="@{/admin/profile}" href="profile.html"><i class="fa fa-user"></i> 用户信息</a></div>
					<div class="control-item"><a th:href="@{/admin/settings}" href="#"><i class="fa fa-gear"></i> 设置</a></div>
					<div class="control-item"><a href="javascript:void(0);" onclick="logout();"><i class="fa"></i> 登出</a></div>
				</div>
				<!-- /.control-list -->
			</div>
			<!-- /.control-wrap -->
		</div>
		<!-- /.user -->
	</header>
	<!-- /.header -->
	<div class="content">

		<div class="navigation">
			<h5 class="title">数据管理</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li class="current">
					<a class="waves-effect" th:href="@{/admin/index}" href="index.html"><i class="menu-icon mdi mdi-view-dashboard"></i><span>状态监控</span></a>
				</li>
				<li >
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-user"></i><span>用户</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a id="userHtml" th:href="@{/admin/user/list}">用户列表</a></li>
<!--						<li><a href="profile.html">添加用户</a></li>-->
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-cube-outline"></i><span>项目</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{/admin/project/list}" href="ui-notification.html">项目列表</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-database"></i><span>数据集</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{/admin/dataset/list}" href="ui-notification.html">数据集列表</a></li>
<!--						<li><a href="profile.html">添加数据集</a></li>-->
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-bar-chart-o"></i><span>测试结果</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{/admin/result/list}" href="ui-notification.html">测试结果列表</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-percent"></i><span>评分</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{/admin/score/list}" href="ui-notification.html">评分列表</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-feed"></i><span>公告</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{/admin/announcement/list}" href="ui-notification.html">公告列表</a></li>
						<li><a th:href="@{/admin/announcement/detail/add}" href="profile.html">发布公告</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
			</ul>
			<!-- /.menu js__accordion -->
			<h5 class="title">数据分析</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-chart-areaspline"></i><span>成绩统计</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{/admin/score/rank}" href="chart-3d.html">成绩排名</a></li>
						<li><a th:href="@{/admin/Visual}" href="chart-chartist.html">成绩可视化</a></li>
						<li><a th:href="@{/admin/rosweb}" href="chart-chartist.html">ros环境可视化</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-pencil-box"></i><span>测试监控</span><span class="notice notice-blue" th:text="${taskSize}">7</span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{/task/list}" href="form-advanced.html">测试任务列表</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
			</ul>
			<!-- /.menu js__accordion -->

			<h5 class="title">ROS环境</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon mdi mdi-chart-areaspline"></i><span>webviz</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{/webviz/app}" href="chart-chartist.html">App</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
			</ul>
			<!-- /.menu js__accordion -->
		</div>
		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>
<!-- /.main-menu -->

<div th:fragment="navbar">
<div class="fixed-navbar" >
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
		<h1 id="navbarTitle" th:attr="logoutUrl=@{/admin/logout},loginUrl=@{/admin/login}" class="page-title" th:text="${title}">Home标题</h1>
		<!-- /.page-title -->
	</div>
	<!-- /.pull-left -->
	<div class="pull-right">
		<div class="ico-item">
			<a href="#" class="ico-item mdi mdi-magnify js__toggle_open" data-target="#searchform-header"></a>
			<form action="#" id="searchform-header" class="searchform js__toggle"><input type="search" placeholder="Search..." class="input-search"><button class="mdi mdi-magnify button-search" type="submit"></button></form>
			<!-- /.searchform -->
		</div>
		<!-- /.ico-item -->
<!--		<a href="#" class="ico-item mdi mdi-email notice-alarm js__toggle_open" data-target="#message-popup"></a>-->
		<a href="#" class="ico-item pulse"><span class="ico-item mdi mdi-bell notice-alarm js__toggle_open" data-target="#notification-popup"></span></a>
		<a href="javascript:void(0);" class="ico-item mdi mdi-logout" onclick="logout();"></a>
	</div>
	<!-- /.pull-right -->
</div>
<!-- /.fixed-navbar -->

<div id="notification-popup" class="notice-popup js__toggle" data-space="75">
	<h2 class="popup-title">系统信息</h2>
	<!-- /.popup-title -->
	<div class="content">
		<ul class="notice-list">
			<li>
				<a href="#">
					<span class="avatar"><img th:src="@{/adminSource/images/avatar-sm-1.jpg}" src="assets/images/avatar-sm-1.jpg" alt=""></span>
					<span class="name">John Doe</span>
					<span class="desc">Like your post: “Contact Form 7 Multi-Step”</span>
					<span class="time">10 min</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="avatar"><img th:src="@{/adminSource/images/avatar-sm-2.jpg}" src="assets/images/avatar-sm-2.jpg" alt=""></span>
					<span class="name">Anna William</span>
					<span class="desc">Like your post: “Facebook Messenger”</span>
					<span class="time">15 min</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="avatar bg-warning"><i class="fa fa-warning"></i></span>
					<span class="name">Update Status</span>
					<span class="desc">Failed to get available update data. To ensure the please contact us.</span>
					<span class="time">30 min</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="avatar"><img th:src="@{/adminSource/images/avatar-1.jpg}" src="assets/images/avatar-1.jpg" alt=""></span>
					<span class="name">Jennifer</span>
					<span class="desc">Like your post: “Contact Form 7 Multi-Step”</span>
					<span class="time">45 min</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="avatar"><img th:src="@{/adminSource/images/avatar-sm-6.jpg}" src="assets/images/avatar-sm-6.jpg" alt=""></span>
					<span class="name">Michael Zenaty</span>
					<span class="desc">Like your post: “Contact Form 7 Multi-Step”</span>
					<span class="time">50 min</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="avatar"><img th:src="@{/adminSource/images/avatar-sm-4.jpg}" src="assets/images/avatar-sm-4.jpg" alt=""></span>
					<span class="name">Simon</span>
					<span class="desc">Like your post: “Facebook Messenger”</span>
					<span class="time">1 hour</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="avatar bg-violet"><i class="fa fa-flag"></i></span>
					<span class="name">Account Contact Change</span>
					<span class="desc">A contact detail associated with your account has been changed.</span>
					<span class="time">2 hours</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="avatar"><img th:src="@{/adminSource/images/avatar-sm-7.jpg}" src="assets/images/avatar-sm-7.jpg" alt=""></span>
					<span class="name">Helen 987</span>
					<span class="desc">Like your post: “Facebook Messenger”</span>
					<span class="time">Yesterday</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="avatar"><img th:src="@{/adminSource/images/avatar-sm-2.jpg}" src="assets/images/avatar-2.jpg" alt=""></span>
					<span class="name">Denise Jenny</span>
					<span class="desc">Like your post: “Contact Form 7 Multi-Step”</span>
					<span class="time">Oct, 28</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="avatar"><img th:src="@{/adminSource/images/avatar-sm-8.jpg}" src="assets/images/avatar-sm-8.jpg" alt=""></span>
					<span class="name">Thomas William</span>
					<span class="desc">Like your post: “Facebook Messenger”</span>
					<span class="time">Oct, 27</span>
				</a>
			</li>

		</ul>
		<!-- /.notice-list -->
		<a href="#" class="notice-read-more">加载更多系统信息<i class="fa fa-angle-down"></i></a>
	</div>
	<!-- /.content -->
</div>
<!-- /#notification-popup -->

<!--<div id="message-popup" class="notice-popup js__toggle" data-space="75">-->
<!--	<h2 class="popup-title">Recent Messages<a href="#" class="pull-right text-danger">New message</a></h2>-->
<!--	&lt;!&ndash; /.popup-title &ndash;&gt;-->
<!--	<div class="content">-->
<!--		<ul class="notice-list">-->
<!--			<li>-->
<!--				<a href="#">-->
<!--					<span class="avatar"><img src="assets/images/avatar-sm-1.jpg" alt=""></span>-->
<!--					<span class="name">John Doe</span>-->
<!--					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>-->
<!--					<span class="time">10 min</span>-->
<!--				</a>-->
<!--			</li>-->
<!--			<li>-->
<!--				<a href="#">-->
<!--					<span class="avatar"><img src="assets/images/avatar-sm-3.jpg" alt=""></span>-->
<!--					<span class="name">Harry Halen</span>-->
<!--					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>-->
<!--					<span class="time">15 min</span>-->
<!--				</a>-->
<!--			</li>-->
<!--			<li>-->
<!--				<a href="#">-->
<!--					<span class="avatar"><img src="assets/images/avatar-sm-4.jpg" alt=""></span>-->
<!--					<span class="name">Thomas Taylor</span>-->
<!--					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>-->
<!--					<span class="time">30 min</span>-->
<!--				</a>-->
<!--			</li>-->
<!--			<li>-->
<!--				<a href="#">-->
<!--					<span class="avatar"><img src="assets/images/avatar-1.jpg" alt=""></span>-->
<!--					<span class="name">Jennifer</span>-->
<!--					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>-->
<!--					<span class="time">45 min</span>-->
<!--				</a>-->
<!--			</li>-->
<!--			<li>-->
<!--				<a href="#">-->
<!--					<span class="avatar"><img src="assets/images/avatar-sm-5.jpg" alt=""></span>-->
<!--					<span class="name">Helen Candy</span>-->
<!--					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>-->
<!--					<span class="time">45 min</span>-->
<!--				</a>-->
<!--			</li>-->
<!--			<li>-->
<!--				<a href="#">-->
<!--					<span class="avatar"><img src="assets/images/avatar-2.jpg" alt=""></span>-->
<!--					<span class="name">Anna Cavan</span>-->
<!--					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>-->
<!--					<span class="time">1 hour ago</span>-->
<!--				</a>-->
<!--			</li>-->
<!--			<li>-->
<!--				<a href="#">-->
<!--					<span class="avatar bg-success"><i class="fa fa-user"></i></span>-->
<!--					<span class="name">Jenny Betty</span>-->
<!--					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>-->
<!--					<span class="time">1 day ago</span>-->
<!--				</a>-->
<!--			</li>-->
<!--			<li>-->
<!--				<a href="#">-->
<!--					<span class="avatar"><img src="assets/images/avatar-5.jpg" alt=""></span>-->
<!--					<span class="name">Denise Peterson</span>-->
<!--					<span class="desc">Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.</span>-->
<!--					<span class="time">1 year ago</span>-->
<!--				</a>-->
<!--			</li>-->
<!--		</ul>-->
<!--		&lt;!&ndash; /.notice-list &ndash;&gt;-->
<!--		<a href="#" class="notice-read-more">See more messages <i class="fa fa-angle-down"></i></a>-->
<!--	</div>-->
<!--	&lt;!&ndash; /.content &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; /#message-popup &ndash;&gt;-->
</div>

<div th:fragment="footer">
	<footer class="footer">
		<ul class="list-inline">
			<li>Copyright &copy; 2020.BUAA All rights reserved.</li>
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Terms</a></li>
			<li><a href="#">Help</a></li>
		</ul>
	</footer>
</div>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<div th:fragment="scriptImport">
	<!--[if lt IE 9]>
	<script th:src="@{/admin/script/html5shiv.min.js}" src="assets/script/html5shiv.min.js"></script>
	<script th:src="@{/admin/script/respond.min.js}" src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script th:src="@{/adminSource/scripts/modernizr.min.js}" src="assets/scripts/modernizr.min.js"></script>
	<script th:src="@{/adminSource/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}" src="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script th:src="@{/adminSource/plugin/nprogress/nprogress.js}" src="assets/plugin/nprogress/nprogress.js"></script>
	<script th:src="@{/adminSource/plugin/sweet-alert/sweetalert.min.js}" src="assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script th:src="@{/adminSource/plugin/waves/waves.min.js}" src="assets/plugin/waves/waves.min.js"></script>

	<script th:src="@{/adminSource/scripts/main.min.js}" src="assets/scripts/main.min.js"></script>

	<script th:src="@{/adminSource/scripts/utils/swalUtil.js}"></script>
	<script th:src="@{/adminSource/scripts/utils/logoutUtil.js}"></script>
	<script>
		function logout() {
			var loginUrl = $("#navbarTitle").attr("loginUrl");
			var logoutUrl = $("#navbarTitle").attr("logoutUrl");
			logoutWithUrl(logoutUrl,loginUrl);
		}
	</script>

</div>

</body>

</html>