<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>登录</title>
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}"
	rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/asserts/css/signin.css}" href="assets/css/signin.css">

	<!-- Custom styles for this template -->
	<link th:href="@{/asserts/css/modern-business.css}" href="css/modern-business.css" rel="stylesheet">
</head>

<body class="text-center">
	<div th:replace="commons/base::topbar"></div>
	<form class="form-signin w-25 mt-5 mx-auto" method="post"
		action="dashboard.html" th:action="@{/user/login}">
		<img class="mb-4" th:src="@{/asserts/img/logo.png}"
			src="asserts/img/bootstrap-solid.svg" alt="" width="140" height="140">
		<h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please
			sign in</h1>
		<p style="color: red;" th:text="${loginMsg}"
			th:if="${not #strings.isEmpty(loginMsg)}"></p>
		<input
			name="username" type="text" class="form-control input-sm"
			placeholder="Username" th:placeholder="#{login.username}" required=""
			autofocus="">
		<input name="password"
			type="password" class="form-control input"
			th:placeholder="#{login.password}" placeholder="Password" required="">
		<div class="form-group text-left">
			<input type="text" id="valicode" name="valicode"
				   class="form-password" />
			<img
				onclick="this.src='/growningai/user/code?d='+new Date()*1"
				src="/growningai/user/code" alt="验证码" />
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit"
			th:text="#{login.btn}">Sign in</button>
		<div class="m-5 text-center">为注册？去<a class="hyperlink" th:href="@{/regist}">注册</a></div>
		<p class="mt-5 mb-3 text-muted">© 2019 北航</p>
		<a class="btn btn-sm" th:href="@{/login(lan='zh_CN')}">中文</a> <a
			class="btn btn-sm" th:href="@{/login(lan='en_US')}">English</a>
	</form>
</body>

</html>