<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>参数自动调整可视化</title>

	<!-- Bootstrap core CSS -->
	<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" href="asserts/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link th:href="@{/css/modern-business.css}" href="css/modern-business.css" rel="stylesheet">
	<link th:href="@{/css/codemirror/codemirror.css}" rel="stylesheet">
	<link th:href="@{/css/codemirror/simplescrollbars.css}" rel="stylesheet">
	<link th:href="@{/css/codemirror/idea.css}" rel="stylesheet">

</head>

<body>

<div th:replace="commons/base::topbar"></div>

<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-3">可成长系统之
		<small>参数自动调整可视化</small>
	</h1>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a th:href="@{/index}" href="index.html">首页</a>
		</li>
		<li class="breadcrumb-item active">参数自动调整可视化</li>
	</ol>

		<div class="row" >
			<div class="col-lg-12" id="container" style="height: 800px"></div>
			<!-- Post Content Column -->
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->




<!-- Bootstrap core JavaScript -->
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/LuTree.js}"></script>
<script type="text/javascript" th:src="@{/js/codemirror/codemirror.js}"></script>
<script type="text/javascript" th:src="@{/js/codemirror/simplescrollbars.js}"></script>
<script type="text/javascript" th:src="@{/js/codemirror/python.js}"></script>
<script type="text/javascript" th:src="@{/js/codemirror/cmake.js}"></script>
<script type="text/javascript" th:src="@{/js/codemirror/clike.js}"></script>
<script type="text/javascript" th:src="@{/js/codemirror/xml.js}"></script>

<script type="text/javascript" th:src="@{/js/echarts/echarts.min.js}"></script>
<script type="text/javascript" th:src="@{/js/echarts/echarts-gl.min.js}"></script>
<script type="text/javascript" th:src="@{/js/echarts/ecStat.min.js}"></script>
<script type="text/javascript" th:src="@{/js/echarts/dataTool.min.js}"></script>
<script type="text/javascript" th:src="@{/js/echarts/china.js}"></script>
<script type="text/javascript" th:src="@{/js/echarts/world.js}"></script>
<script type="text/javascript" th:src="@{/js/echarts/bmap.min.js}"></script>

</body>
<script>
	var dom = document.getElementById("container");
	var myChart = echarts.init(dom);
	var app = {};
	option = null;
	option = {
		title: {
			text: '多类型折线图-BUAA'
		},
		tooltip: {
			trigger: 'axis'
		},
		legend: {
			data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
		},
		grid: {
			left: '3%',
			right: '4%',
			bottom: '3%',
			containLabel: true
		},
		toolbox: {
			feature: {
				saveAsImage: {}
			}
		},
		xAxis: {
			type: 'category',
			boundaryGap: false,
			data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
		},
		yAxis: {
			type: 'value'
		},
		series: [
			{
				name: '邮件营销',
				type: 'line',
				stack: '总量',
				data: [120, 132, 101, 134, 90, 230, 210]
			},
			{
				name: '联盟广告',
				type: 'line',
				stack: '总量',
				data: [220, 182, 191, 234, 290, 330, 310]
			},
			{
				name: '视频广告',
				type: 'line',
				stack: '总量',
				data: [150, 232, 201, 154, 190, 330, 410]
			},
			{
				name: '直接访问',
				type: 'line',
				stack: '总量',
				data: [320, 332, 301, 334, 390, 330, 320]
			},
			{
				name: '搜索引擎',
				type: 'line',
				stack: '总量',
				data: [820, 932, 901, 934, 1290, 1330, 1320]
			}
		]
	};
	if (option && typeof option === "object") {
		myChart.setOption(option, true);
	}
</script>
</html>
