<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>404</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" href="asserts/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/modern-business.css}" href="css/modern-business.css" rel="stylesheet">

</head>

<body>

  <div th:replace="commons/base::topbar"></div>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">404
      <small>Page Not Found</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a th:href="@{/page/index}" href="index.html">首页</a>
      </li>
      <li class="breadcrumb-item active">404</li>
    </ol>

    <div class="jumbotron">
      <h1 class="display-1">404</h1>
      <p>你找的页面不见了。。。</p>
      <ul>
        <li>
          <a th:href="@{/index}" href="index.html">首页</a>
        </li>
        <li>
          <a th:href="@{/project/projects}" href="about.html">项目列表</a>
        </li>
      </ul>
    </div>
    <!-- /.jumbotron -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:replace="commons/base::footbar"></div>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js}"></script>

</body>

</html>
